{% extends "main.html" %}
{% block html_attribs %} lang="en" {% endblock %}

{% block content %}


<div class="container-fluid text-center">
    <div class="d-flex flex-row flex-wrap">
       <div class="col m-0 p-0"> 
            <div class="card h-100">
            <img src="/img/cover/1" class="card-img-top border" >
            <div class="card-body">
                <h5 class="card-title">The magic long very long artist</h5>
            </div>
            </div> 
        </div>
        <div class="col m-0 p-0">
            <div class="card h-100">
            <img src="/img/cover/2" class="card-img-top border"  >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
            </div>
        </div>
        <div class="col m-0 p-0">
            <div class="card h-100">
            <img src="/img/cover/3" class="card-img-top border" >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
            </div>
        </div>
        <div class="col m-0 p-0">
            <div class="card h-100">
                <img src="/img/cover/1" class="card-img-top border"  >
                <div class="card-body">
                    <h5 class="card-title">Uno</h5>
                </div>
                </div>
        </div>
        <div class="break"></div>
        <div class="col m-0 p-0"> 
            <div class="card h-100">
                <img src="/img/cover/2" class="card-img-top border" >
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col m-0 p-0">
                <div class="card h-100">
                <img src="/img/cover/3" class="card-img-top border"  >
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col m-0 p-0">
        <div class="card h-100">
        <img src="/img/cover/1" class="card-img-top border" >
        <div class="card-body">
            <h5 class="card-title">The magic long very long artist</h5>
        </div>
        </div> 
    </div>

        </div>
    </div>
</div>




{% endblock %}




{% block scripts %}
    {{ super() }}
{% endblock %}