{% extends "main.html" %}
{% block html_attribs %} lang="en" {% endblock %}

{% block content %}
{{super()}}

<div class="container-fluid">

    <div class="h1">Play Lists</div>
    <div class="d-flex flex-row flex-wrap">
                {% for item in items -%}
                <a class="card-playlist-link" href="/playlist?name={{item.filename|uuencode}}">
                <div class="card h-100 card-playlist">
                    <div class="card-header h3 text-center">
                        {{item.name.upper()}}
                        <div class="card-title h6">
                            <nobr><span class="card-artist-songs">({{item.len}} songs)</span></nobr>
                        </div>
                    </div>
                    <div class="card-body overflow-scroll">
                        <div class="text-left small">
                            <ul>
                                {% for song in item.songs -%}
                                <li><b>{{song.artist}}</b> <i>{{song.title}}</i>
                                {% endfor -%}
                        </div>
                    </div>
                </div>
                </a>
                {% endfor -%}
    </div>
</div>




{% endblock %}




{% block scripts %}
    {{ super() }}
{% endblock %}