.card-artist {
    max-width:10em;
    min-width: 5em;
    min-height: 16em;
    max-height: 16em;
}
.card-artist-songs {
    font-size: small;
    font-style: italic;
}

.card-artist-link:hover > div {
    background-color: rgb(170, 170, 170);
}

/* the datatables wrapper and container */
/*
#songs_wrapper {
    width: auto%;
    
}

#songs {
    width: auto%;
    border: 1px red solid;
}
*/