.card-artist {
    max-width:10em;
    min-width: 10em;
    min-height: 16em;
    max-height: 16em;
}

.card-playlist {
    max-width:10em;
    min-width: 10em;
    min-height: 16em;
    max-height: 16em;
}

.card-playlist > svg {
    background-color: rgb(100,100,100);
}

.card-artist-songs {
    font-size: small;
    font-style: italic;
}

.card-artist-link:hover > div {
    background-color: rgb(170, 170, 170);
    text-decoration:none;
}

.card-playlist-link:hover > div {
    background-color: rgb(170, 170, 170);

}

.card-playlist-link:link  {
    text-decoration:none;

}



/* the datatables wrapper and container */
/*
#songs_wrapper {
    width: auto%;
    
}

#songs {
    width: auto%;
    border: 1px red solid;
}
*/